<%- include('../../dashboard/common/header') %> 
<%- include('../common/navbar') %> 

<main class="main-content  mt-3">
  <div class="page-header align-items-start min-vh-100" style="background-image: url('/dashboard/img/illustrations/illustration-signup.jpg');">
    <span class="mask bg-gradient-dark opacity-6"></span>
    
<%- include('../../dashboard/common/bottom') %> 
  </div>
</main>

<%- include('../../dashboard/common/footer') %> 